{{template "layout" .}} {{define "head"}}
<title>Service List</title>
{{ end}} {{define "content"}}
<div class="container">
    <div class="row">
        <div class="col">
            <span>clusters:</span>
            <select v-model="selected_cluster" v-on:change="clusterChanged">
                <option v-for="cluster in clusters" v-bind:value="cluster.name">${ cluster.name }</option>
            </select>
            <a :href="'/configs?cluster=' + selected_cluster">Configs</a>
        </div>
        <div class="col text-right">
            <span>
                <button v-on:click="logout();">Logout</button>
            </span>
        </div>
    </div>
</div>

<hr></hr>
<div class="container">
    <div class="row">
        <div class="col">
            <span>Service Lists</span>
            <button v-on:click="reload()">reload</button>
            <table border="1">
                <tr>
                    <td>status</td>
                    <td>name</td>
                    <td>image</td>
                    <td>mode</td>
                    <td>ports</td>
                    <td></td>
                </tr>
                <template v-for="svc in services">
                    <tr>
                        <td>${ svc.deployment_status.available_replicas}/${ svc.deployment_status.replicas}</td>
                        <td>
                            <a :href="'/services/' + svc.name + '?cluster=' + selected_cluster">${ svc.name }</a>
                        </td>
                        <td>${ svc.spec.image}
                            <br/>
                            <span style="color:gray"> ${ svc.deployment_status.image}</span>
                        </td>
                        <td>${ svc.spec.deploy.mode}</td>
                        <td>
                            <span v-for="port in svc.spec.ports">
                                ${ port.published }:${ port.target}
                                <br/>
                            </span>
                            <br/>
                        </td>
                        <td>
                            <button v-on:click="redeploy(svc)">redeploy</button>
                            <button v-on:click="stop(svc)">stop</button>
                            <br/>
                            <span style="color:red" v-if="svc.deployment_status.update_state == 'updating'">
                                updating
                            </span>
                        </td>
                    </tr>
                </template>
            </table>
        </div>
    </div>
</div>
{{end}} {{define "js"}}
<script>
    var request = superagent;
    let apiHost = "{{ .APIHost }}";
    let token = localStorage.getItem("token");

    let vm = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            selected_cluster: "{{ .ClusterID }}",
            clusters: [],
            services: []
        },
        mounted: function () {
            this.pageLoad();
        },
        methods: {
            redeploy: function (svc) {
                console.log("redeploy")
                let self = this;
                let url = apiHost + '/v1/clusters/' + self.selected_cluster + '/services/' + svc.name + "/redeploy"
                request
                    .post(url)
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        }
                    });
            },
            stop: function (svc) {
                console.log("stop")
                let self = this;
                let url = apiHost + '/v1/clusters/' + self.selected_cluster + '/services/' + svc.name + "/stop"
                request
                    .post(url)
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        }
                    });
            },
            pageLoad: function () {
                console.log("pageLoad")
                let self = this;

                checkToken(token);

                // get clusters
                request
                    .get(apiHost + '/v1/clusters')
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        } else {
                            self.clusters = resp.body.data

                            self.selected_cluster = getParameterByName('cluster');
                            if (self.clusters.length > 0 && _.isEmpty(self.selected_cluster)) {
                                self.selected_cluster = self.clusters[0].name;
                            }

                            self.reload();
                        }
                    });
            },
            reload: function () {
                console.log("reload")
                let self = this;
                self.services = [];
                request
                    .get(apiHost + '/v1/clusters/' + self.selected_cluster + '/services')
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        } else {
                            self.services = resp.body.data
                        }
                    });
            },
            clusterChanged: function () {
                console.log("clusterChanged")
                let self = this;
                self.reload();
            },
            logout: function () {
                console.log("logout")
                let self = this;
                localStorage.removeItem("token")
                window.location = "/"
            }
        }
    });

</script> {{end}}