{{template "layout" .}} {{define "head"}}
<title>Service Detail</title>
{{ end}} {{define "content"}} {{template "service_navbar" .}}
<h3>
    <span id="lblMessage">${ message }</span>
</h3>
<div id="detail">
    <textarea id="txtCode" style="width: 1000; height: 600" v-model="service">
        
    </textarea>
    <p>
        <button v-on:click="save()">Save</button>
    </p>

    <p>Tasks</p>
    <div id="tasks">
        <table border=1>
            <tr>
                <td>name</td>
                <td>state</td>
                <td>age</td>
                <td>message</td>
            </tr>
            <template v-for="task in tasks">
                <tr>
                    <td>${ task.name } </td>
                    <td>${ task.status.state }</td>
                    <td>${ task.age} </td>
                    <td>${ task.status.message }</td>
                </tr>
            </template>

        </table>
    </div>
</div>

{{end}} {{define "js"}}
<script>
    var request = superagent;
    let apiHost = "{{ .APIHost }}";
    let cID = "{{ .ClusterID }}";
    let svcID = "{{ .ServiceID }}";
    let token = localStorage.getItem("token");

    let vm = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            message: "",
            service: "",
            tasks: []
        },
        mounted: function () {
            this.pageLoad();
        },
        methods: {
            pageLoad: function () {
                console.log("=== begin pageLoad ===")
                let self = this;

                checkToken(token);

                self.getService(cID, svcID);
                self.getTasks(cID, svcID);
            },
            save: function () {
                let self = this;
                let svcJSON = {};

                try {
                    svcJSON = JSON.parse(self.service);
                } catch (err) {
                    alert(err);
                    return
                }

                request
                    .put(apiHost + '/v1/clusters/' + cID + '/services/' + svcID)
                    .set({ "Authorization": token })
                    .send(svcJSON)
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        } else {
                            self.message = "success";
                        }
                    });
            },
            getService: function (clusterID, serviceID) {
                console.log("=== begin getService ===")
                let self = this;
                // get service
                request
                    .get(apiHost + '/v1/clusters/' + clusterID + '/services/' + serviceID)
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            httpErrorHandler(err, resp)
                        } else {
                            self.service = JSON.stringify(resp.body, null, 2);
                        }
                    });


            },
            getTasks: function (clusterID, serviceID) {
                console.log("=== begin getTasks ===")
                let self = this;
                // list task
                request
                    .get(apiHost + '/v1/clusters/' + clusterID + '/tasks?service_id=' + serviceID)
                    .set({ "Authorization": token })
                    .end(function (err, resp) {
                        if (err || !resp.ok) {
                            if (resp.statusCode == 404) {
                                // not action
                            } else {
                                httpErrorHandler(err, resp)
                            }

                        } else {
                            self.tasks = resp.body.data

                            self.tasks.forEach(function (element) {
                                element.age = moment(element.status.timestamp).fromNow();
                            });
                        }
                    });
            }
        }
    });

</script> {{end}}